.body{
    background-color: rgba(181, 218, 218, 0.507);
    position: absolute;
    width: 100%;
    height: 150%;
    

}
.item{
    position: absolute;
    
    left: 42vw;
    top: 12vw;
    background-color: rgba(240, 248, 255, 0.342);

}