.todoStart{
    display: flex;
    align-items: center;
    justify-content: center;
    background:  linear-gradient(#b6b1b1e8, #4e5ae0f6);
    height: 100vh;
    width: 100vw;
}
.btn{
    margin-left: 10px;
}